@namespace epub "http://www.idpf.org/2007/ops"

@page {
	size: 25 10;
	counter-reset: footnote;
}

p {
	display: block;
	text-indent: 2;
}

a[epub|type~="footnote noteref"] {
	flow: normal footnotes;
	counter-increment: footnote;
	content: "⠶" counter(footnote) "⠶"
}

a[epub|type~="footnote noteref"]:flow(footnotes) {
	content: target-content(attr(href url));
	display: block;
	text-indent: 2;
}